version: '2.6'

services:
 tasks:
  container_name: db_tasks
  ports: 
   - "5432:5432"
  environment: 
   - POSTGRES_PASSWORD=1111
   - POSTGRES_USER=postgres
  image: postgres:alpine
  volumes:
   - ./postgres-data:/var/lib/postgresql/data
   - ./resources/db/init.sql:/docker-entrypoint-initdb.d/init.sql
