;; shadow-cljs configuration
{:deps true

 ;:dev-http {9999 "public"}
 :builds
 {:frontend
    {:target     :browser
     :output-dir "resources/public/js"
     :build-hooks [(stylo.shadow/reload "resources/public/out/stylo/css/stylo.css")]
     :modules    {:main {:init-fn frontend.app/init}}
     :compiler-options {:infer-externs :auto}

    :dev
        {:devtools {:after-load frontend.app/re-render}
         :compiler-options {:optimizations :none}}}}}
