blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

.app-101-20 {
  gap: 0.5rem;
}

.app-113-18 {
  font-size: 1.125rem;
}

.app-157-26 {
  width: auto;
}

.app-119-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-144-19 {
  display: table-row;
}

.app-125-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-161-18 {
  font-size: 1.125rem;
}

.app-122-26 {
  width: auto;
}

.app-160-26 {
  width: auto;
}

.app-151-26 {
  width: auto;
}

.app-134-20 {
  gap: 0.5rem;
}

.app-124-18 {
  font-size: 1.125rem;
}

.app-104-19 {
  display: table-row;
}

.app-123-18 {
  font-size: 1.125rem;
}

.app-157-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-115-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.app-119-26 {
  width: auto;
}

.app-91-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-92-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-122-18 {
  font-size: 1.125rem;
}

.app-126-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-153-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-102-20 {
  gap: 0.5rem;
}

.app-119-18 {
  font-size: 1.125rem;
}

.app-105-19 {
  display: table-row;
}

.app-113-19 {
  display: table-row;
}

.app-138-19 {
  display: table-row;
}

.app-137-19 {
  display: table-row;
}

.app-161-26 {
  width: auto;
}

.app-129-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-137-20 {
  gap: 0.5rem;
}

.app-92-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-159-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-96-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-115-18 {
  font-size: 1.125rem;
}

.app-111-19 {
  display: table-row;
}

.app-152-18 {
  font-size: 1.125rem;
}

.app-113-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.app-140-19 {
  display: table-row;
}

.app-153-19 {
  display: table-row;
}

.app-112-19 {
  display: table-row;
}

.app-110-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.app-114-26 {
  width: auto;
}

.app-127-20 {
  display: table-row;
}

.app-109-19 {
  display: table-row;
}

.app-118-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-163-26 {
  width: auto;
}

.app-96-20 {
  gap: 0.5rem;
}

.app-155-18 {
  font-size: 1.125rem;
}

.app-100-19 {
  display: table-row;
}

.app-128-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-150-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-114-18 {
  font-size: 1.125rem;
}

.app-113-26 {
  width: auto;
}

.app-99-19 {
  display: table-row;
}

.app-103-20 {
  gap: 0.5rem;
}

.app-132-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-156-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-120-18 {
  font-size: 1.125rem;
}

.app-135-20 {
  gap: 0.5rem;
}

.app-162-18 {
  font-size: 1.125rem;
}

.app-97-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-99-20 {
  display: table-row;
}

.app-131-20 {
  display: table-row;
}

.app-150-19 {
  display: table-row;
}

.app-118-26 {
  width: auto;
}

.app-154-26 {
  width: auto;
}

.app-94-20 {
  display: table-row;
}

.app-133-20 {
  display: table-row;
}

.app-141-19 {
  display: table-row;
}

.app-98-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-116-26 {
  width: auto;
}

.app-106-19 {
  display: table-row;
}

.app-117-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.app-131-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-121-18 {
  font-size: 1.125rem;
}

.app-111-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.app-164-18 {
  font-size: 1.125rem;
}

.app-158-18 {
  font-size: 1.125rem;
}

.app-130-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-134-19 {
  display: table-row;
}

.app-147-19 {
  display: table-row;
}

.app-93-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-117-18 {
  font-size: 1.125rem;
}

.app-110-19 {
  display: table-row;
}

.app-147-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-151-19 {
  display: table-row;
}

.app-129-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-112-26 {
  width: auto;
}

.app-120-26 {
  width: auto;
}

.app-123-26 {
  width: auto;
}

.app-121-26 {
  width: auto;
}

.app-97-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-109-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.app-116-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}