blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder, textarea::placeholder {
  color: #a0aec0;
}

button, [role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button, input, optgroup, select, textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre, code, kbd, samp {
  font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, video {
  max-width: 100%;
  height: auto;
}

.app-166-19 {
  display: table-row;
}

.app-196-18 {
  font-size: 1.125rem;
}

.app-182-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-148-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-134-20 {
  display: table-row;
}

.app-192-18 {
  font-size: 1.125rem;
}

.app-176-19 {
  display: table-row;
}

.app-138-20 {
  gap: 0.5rem;
}

.app-199-18 {
  font-size: 1.125rem;
}

.app-186-26 {
  width: auto;
}

.app-167-19 {
  display: table-row;
}

.app-189-19 {
  display: table-row;
}

.app-150-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-159-19 {
  display: table-row;
}

.app-195-26 {
  width: auto;
}

.app-192-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-154-20 {
  gap: 0.5rem;
}

.app-185-26 {
  width: auto;
}

.app-197-18 {
  font-size: 1.125rem;
}

.app-160-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-137-20 {
  gap: 0.5rem;
}

.app-149-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-156-20 {
  gap: 0.5rem;
}

.app-198-26 {
  width: auto;
}

.app-154-19 {
  display: table-row;
}

.app-159-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-188-19 {
  display: table-row;
}

.app-187-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-191-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-140-19 {
  display: table-row;
}

.app-164-20 {
  gap: 0.5rem;
}

.app-132-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-165-18 {
  font-size: 1.125rem;
}

.app-153-19 {
  display: table-row;
}

.app-186-19 {
  display: table-row;
}

.app-163-26 {
  width: auto;
}

.app-157-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-157-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-163-20 {
  gap: 0.5rem;
}

.app-185-19 {
  display: table-row;
}

.app-199-26 {
  width: auto;
}

.app-132-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-187-19 {
  display: table-row;
}

.app-156-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-164-26 {
  width: auto;
}

.app-133-20 {
  display: table-row;
}

.app-175-19 {
  display: table-row;
}

.app-195-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-181-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-141-19 {
  display: table-row;
}

.app-131-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-191-26 {
  width: auto;
}

.app-159-20 {
  display: table-row;
}

.app-153-20 {
  gap: 0.5rem;
}

.app-164-18 {
  font-size: 1.125rem;
}

.app-187-18 {
  font-size: 1.125rem;
}

.app-196-26 {
  width: auto;
}

.app-194-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-148-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-147-19 {
  display: table;
  border-width: 2px;
  width: 25.0rem;
}

.app-198-18 {
  font-size: 1.125rem;
}

.app-158-19 {
  display: table-row;
}

.app-186-18 {
  font-size: 1.125rem;
}

.app-200-18 {
  font-size: 1.125rem;
}

.app-151-20 {
  display: table-row;
}

.app-197-26 {
  width: auto;
}

.app-193-25 {
  width: 100%;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  font-sants: nil;
}

.app-155-20 {
  gap: 0.5rem;
}

.app-149-20 {
  padding-left: auto;
  padding-right: auto;
}

.app-181-19 {
  display: table-row;
}

.app-158-20 {
  display: table-row;
}