name: clojure_test_n_build
on: 
 push:
  branches: 
   - 'main'
jobs:
 build:
  runs-on: ubuntu-latest
  permissions: 
   contents: read
   packages: write 
  steps:
    -
     name: Checkout
     uses: actions/checkout@v3
    -
     name: Login to Docker Hub
     uses: docker/login-action@v1
     with:
       username: ${{ secrets.DOCKER_HUB_USERNAME }}
       password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    -
     name: Run Database
     run: docker run ${{ secrets.DOCKER_HUB_USERNAME }}/tasks_db -e POSTGRES_USER=${{ secrets.POSTGRES_USER }} -e POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
    -
     name: Prepare java
     uses: actions/setup-java@v3
     with:
      java-version: '11'
      distribution: 'adopt'
    -
     name: Install clojure tools
     uses: DeLaGuardo/setup-clojure@3.5
     with:
      cli: 'latest'
    -
     name: Run Tests
     run: clojure -X:test
    -
     name: Build Uberjar
     run: clojure -T:build uber
     
  
   
